.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.blur {
    filter: blur(5px);
    transition: filter 1s ease-in-out;
}