.container {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    position: relative;
}

.blur {
    filter: blur(5px);
    transition: filter 1s ease-in-out;
}


