.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
    overflow: hidden;
}

.loginContainer {
    transition: opacity 1s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: #ADA7FF;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}